*.BAK
*~
bp.*
foo.*
*.td
*.tfa
output/
BACKITUP.BAT
EMPTY.PAS
FAIL.PAS
FFTEST.PAS
FOO
FOOTRACE.PAS
GOGRAF.*
HELPPC.DAT
INI_FORM.TXT
LOG.BAT
NEW.TXT
TEST.BAT
VTEST.PAS
ZSort.c
backups/
**/CACHE.DAT
**/FILES.IDX
**/TITLES.IDX
formatf.dis
notes.txt
videoid.obj
name_mapping.txt
troubleshooting/
othersources/
src/
TDL_DOC.TXT

